.homepage {
  /* display: grid;
  grid-template-columns: repeat(2, 200px, 1fr); */
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.homepage__content {
  margin-left: 60px;
  margin-bottom: 100px;
  margin-top: 80px;
}
.homepage__content > h3 {
  margin-top: -35px;
  color: #4475e2;
}

.homepage__content > hr {
  width: 130px;
  margin-left: 0px;
  margin-top: -10px;
}
.btn {
  border: none;
  outline: none;
  padding: 15px 45px;
  background: transparent;
  border-radius: 50px;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  transition: transform 0.3s;
}
.btn:hover {
  transform: translateY(5px);
}
.btn {
  background-color: #4475e2;
}
.btn__link {
  margin-right: 50px;
}
.homepage__image {
  margin-right: 50px;
}
